.component {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: 'absolute';
  left: '50%';
  top: '50%';
  transform: 'translate(-50%, -50%)'
}

.loginDiv {
  display: inline-flex;
  margin-top: 200px;
  margin-left: 278px;
}